:not(.wrap) ~ div.updated,
:not(.wrap) ~ div.error,
:not(.wrap) ~ div.notice,
:not(.wrap) ~ div.update-nag{
	margin: 5px 20px 15px 2px;
}



#meta-link-notices-wrap {
	margin: 0;
	/* padding: 8px 20px 12px; */
	position: relative;
}

#meta-link-notices-wrap > button.notice-dismiss {
    position: relative;
    display: flex;
	width: 100%;
}

.notice_container{
	padding: 9px 0px 1px 0px;
	background-color: gainsboro;
}

.notice_container.empty{
	padding: 0;
}

.notice_container > div.updated,
.notice_container > div.error,
.notice_container > div.notice,
.notice_container > div.update-nag{
	margin: 5px 12px 15px 12px !important; /* Override plugins custom css */
}

/* This should only be used if auto-collect/above-title is enabled */
.notices-above-title .wrap > div.updated,
.notices-above-title .wrap > div.error,
.notices-above-title .wrap > div.notice,
.notices-above-title .wrap > div.update-nag{
	display: none;
}