:not(.wrap) ~ div.notice, :not(.wrap) ~ div.updated,
:not(.wrap) ~ div.error,
:not(.wrap) ~ div.update-nag {
  margin: 5px 20px 15px 2px; }

.notices-auto-collect #wpbody-content > div.notice, .notices-auto-collect #wpbody-content > div.updated,
.notices-auto-collect #wpbody-content > div.error,
.notices-auto-collect #wpbody-content > div.update-nag,
.notices-auto-collect .wrap > div.notice,
.notices-auto-collect .wrap > div.updated,
.notices-auto-collect .wrap > div.error,
.notices-auto-collect .wrap > div.update-nag,
.notices-above-title .wrap > div.notice,
.notices-above-title .wrap > div.updated,
.notices-above-title .wrap > div.error,
.notices-above-title .wrap > div.update-nag {
  display: none; }

#meta-link-notices-wrap {
  margin: 0;
  position: relative; }
  #meta-link-notices-wrap > button.notice-dismiss {
    position: relative;
    display: flex;
    width: 100%; }

.notice_container {
  padding: 9px 0px 1px 0px;
  background-color: gainsboro; }
  .notice_container.empty {
    padding: 0; }
  .notice_container > div.notice, .notice_container > div.updated,
  .notice_container > div.error,
  .notice_container > div.update-nag {
    margin: 5px 12px 15px 12px !important; }

#meta-link-notices .plugin-count {
  display: inline-block;
  box-sizing: border-box;
  margin: 1px 0 -1px 2px;
  padding: 0 5px;
  min-width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #72aee6;
  color: #fff;
  font-size: 11px;
  line-height: 1.6;
  text-align: center;
  z-index: 26; }
  #meta-link-notices .plugin-count.warning {
    background-color: #dba617; }
  #meta-link-notices .plugin-count.error {
    background-color: #d63638; }
